Package: love.litten.crystal
Name: Crystal 💎
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.14), firmware (>= 13.0)
Version: 1.4
Architecture: iphoneos-arm
Description: Headphone listening mode automations
Maintainer: Litten
Author: Litten
Section: Tweaks
Depiction: https://repo.litten.love/depictions/cst/index.html
SileoDepiction: https://repo.litten.love/depictions/cst/cst.json
Icon: https://repo.litten.love/depictions/cst/assets/icon.png
